body {
  background-image: url("/imgs/fundo.jpg");
  background-size: auto cover;
  background-position: center;
  background-color: #000000;
  color: #f1f5f9;
  display: flex;
  flex-direction: column-reverse;
  font-family: "Ubuntu", sans-serif;
}


@media (min-width: 640px) {
  body {
    background-size: cover;
    flex-direction: row;
  }
}

aside {
  box-sizing: border-box;
  border-top: 1px solid #334155;
  background-color: rgba(0, 128, 0, 0.05);
  padding: 16px;
}

@media (min-width: 640px) {
  aside {
    border-top: 0;
    border-right: 1px solid #334155;
    width: 250px;
    height: 100vh;
  }
}

main {
  flex-grow: 1;
  padding: 16px;
}

aside nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

aside nav ul li {
  list-style: none;
  margin: 0;
  display: flex;
}

aside nav a {
  width: 100%;
  background: transparent;
  border-radius: 1rem 0.5rem;
  padding: 8px;
  color: #f1f5f9;
  text-align: center;
  text-decoration: none;

  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: .5s;
}

aside nav a:hover {
  background: #5152589a;
  color: #fff;
  border-radius: 1.1rem 0.6rem;
  box-shadow: 0 0 5px #7a7975,
    0 0 25px #535351,
    0 0 50px #6b6b66,
    0 0 100px #c9c8bc;
}

aside nav a span {
  position: absolute;
  display: block;
}

aside nav a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #f4c003);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

aside nav a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f4bc03);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

aside nav a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, #f4dc03);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

aside nav a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f4b003);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

aside nav a.active {
  background: #22c55e;
}

aside nav.links {
  border-top: 1px solid #334155;
}

aside nav.links p {
  text-align: center;
  font-size: 17px;
  color: #fffb04;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bruno Ace", cursive;
}

.siteName {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.siteName span {
  color: #22c55e;
}

/* -------------------------------------------------------------------- */

.wrapper {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

header {
  padding-top: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.wrapper h1 {
  font-size: 2.5rem;
}

@media (min-width: 640px) {
  .wrapper {
    gap: 6rem;
  }

  header {
    gap: 2rem;
  }

  .wrapper h1 {
    font-size: 4.5rem;
  }
}

header h1,
header p {
  margin: 0;
  text-align: center;
}

header img.perfil {
  width: 60%;
  border-radius: 5rem 1.5rem;
}

header img.perfil:hover {
  border-radius: 0%;
}

header h1 {
  font-size: 1.5rem;
}

header h1 span {
  transition: color 250ms linear;
}

header p {
  margin-top: 0.5rem;
  color: #cbd5e1;
  font-size: 16px;
}

@media (min-width: 640px) {
  header h1 {
    font-size: 2.5rem;
  }

  header p {
    font-size: 16px;
  }
}

.main ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.1rem;
}

.main ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main ul li a {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.3rem;
  transition: transform cubic-bezier(0.68, -0.6, 0.32, 1.6);
  border-radius: 2rem 1rem;
}

.main ul li a:hover {
  transform: scale(1.07);
  background-color: rgb(0, 0, 0);
}

.main ul li a .spacer {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main ul li a .spacer.empty {
  display: none;
}

.text {
  width: 100%;
  text-align: center;
}

@media (min-width: 640px) {
  .main ul li a .spacer.empty {
    display: block;
  }
}

.azulzineo {
  color: #0344f7;
}

.roxineo {
  color: #b202f7;
}

.verdineo {
  color: #22c55e;
}

/* -------------------------------------------------------------------- */

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.6);
}

thead {
  text-align: left;
}

table,
th,
td {
  padding: 8px;
  border: 1px solid #334155;
}

td.right {
  text-align: right;
}

table a {
  background: transparent;
  border: 0;
  color: #22c55e;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
}

table a:hover {
  color: #ffffff;
}